Import data: UScomments.csv, USvideos.csv, GBcomments.csv, GBvideos.csv
Into same file as this notebook for VsCode

In [2]:
#run block is in google colab
#try:
#    from google.colab import files
#    uploaded = files.upload()
#except ImportError as e:
#    pass

IMPORTS TOOLS

In [3]:
import numpy as py
import pandas as pd 
import matplotlib as plt

US videos loading into dataframe and cleaning

In [4]:
df_US_video= pd.read_csv('USvideos.csv',on_bad_lines='skip')

In [5]:
df_US_video.head()

,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,logan paul vlog|logan paul|logan|paul|olympics...,4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,13.09
1,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,13.09
2,cLdxuaxaQwc,My Response,PewDiePie,22,[none],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,13.09
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,apple iphone x hands on|Apple iPhone X|iPhone ...,2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,13.09
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,jacksfilms|parody|parodies|iphone|iphone x|iph...,1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,13.09

In [6]:
df_US_video.columns

Index(['video_id', 'title', 'channel_title', 'category_id', 'tags', 'views',
       'likes', 'dislikes', 'comment_total', 'thumbnail_link', 'date'],
      dtype='object')

In [7]:
# if returned values are 0 then there are no null values 
# if so drop values and uncomment the last line
df_US_video.isnull().sum()
#df_US_video.dropna(inplace=True)

video_id          0
title             0
channel_title     0
category_id       0
tags              0
views             0
likes             0
dislikes          0
comment_total     0
thumbnail_link    0
date              0
dtype: int64

US comments loading into dataframe and cleaning

In [8]:
df_US_comments= pd.read_csv('UScomments.csv',on_bad_lines='skip')
df_US_comments.head()

/tmp/ipykernel_1806/2970306586.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_US_comments= pd.read_csv('UScomments.csv',on_bad_lines='skip')

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‼️‼️‼️,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending 😉,3,0

In [9]:
df_US_comments.columns

Index(['video_id', 'comment_text', 'likes', 'replies'], dtype='object')

In [10]:
# if returned values are 0 then there are no null values 
# if so drop values and uncomment the last line
df_US_comments.isnull().sum()
df_US_comments.dropna(inplace=True)

In [11]:
##cross-reference the two dataframes for videos_ids accountable in both dataframes
common_ids = set(df_US_video['video_id']).intersection(set(df_US_comments['video_id']))

df_US_video = df_US_video[df_US_video['video_id'].isin(common_ids)]
df_US_comments = df_US_comments[df_US_comments['video_id'].isin(common_ids)]